#inlineRadiogrey,
#inlineRadiogrey:checked {
    background-color: grey;
}

#inlineRadiopurple,
#inlineRadiopurple:checked {
    background-color: pink;
}

.titles-container {
    max-width: 500px;
}

.productImage {
    width: 90%;
    max-width: 532px;
    max-height: 630px;
}

.baby,
.weigth {
    width: 30%;
    height: 75%;
}

.video-hero-image {
    position: relative;
}

.video-hero-image img {
    display: block;
}

.video-hero-image .playButtonIcon {
    position: absolute;
    width: 100%;
    top: 36%;
    right: 0;
}

.btn-check:focus + .btn, .btn:focus {
    box-shadow: 0 0 0 0!important;
}
