/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    #contact_section .product-slogan {
        margin-top: -25%;
        font-size: medium;
    }
    .btn-contant-sedtion{
        padding: 5px!important;
    }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #contact_section .product-slogan {
        margin-top: -15%;
        margin-left: 20%;
        margin-right: 20%;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    #contact_section .product-slogan {
        margin-top: -5%;
        margin-left: 27%;
        margin-right: 27%;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #contact_section .product-slogan {
        margin-top: 0;
        margin-left: 32%;
        margin-right: 32%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    #contact_section .product-slogan {
        margin-left: 37%;
        margin-right: 37%;
    
    }
}